<html>
    <head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/javascripts/movies.js"> </script>
</head>
<div style="margin: 20px; border-radius: 20px;">
 <center>Search:<input type="text" id="txt"></center>
</div>
<div id="result" style=" flex-wrap:wrap;display:flex;flex-direction: row;">

</div>
</html>